body {
  min-height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  font-family: sans-serif;
  color: #1a1a1a;
 
}

a{
  text-decoration: none;
  color: #48e;
}